@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: #282828;
}
::-webkit-scrollbar-thumb {
    background-color: #334155;
}

.split {
	display: flex;
	flex-direction: row;
	background-color: #030303;
    margin-top: 64px;
}

.gutter {
	background-color: rgb(26, 26, 26);
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
	cursor: col-resize;
}
